#calculatorAndOutput {
	margin-top: 20px;
}

#rocketTotals {
	margin-top: 85px;
}

.form-group {
	margin-bottom: 5px;
}

.footer {
	border-top: 1px solid #e5e5e5;
	background-color: #f5f5f5;
	padding: 30px 0;
	margin-top: 70px;
}

.footer p {
	color: #777;
}

.engineTooltip {
	border-bottom: 1px dotted #333;
}

.tooltip-inner {
	text-align: left;
}

.input-group-addon-middle {
	border-left: 0;
	border-right: 0;
}
